body{
    background-image: url("_96891849_lightning.jpg");
    background-size: cover;
}
h1 , h2{
    text-align: center;
    color: azure;
}

.center ,.show { 
    text-align: center;
    color: beige;
}